.DivAluno {
    border-color: blue;
    border: solid;
    
    /* justify-content: space-evenly; */
    /* text-align: ; */
}

.Foto {
    /* border-color: blue;
    border: solid; */
    flex-direction: column;
    
}

.DivAluno{
    margin-top: 50px;
}

.DadosAluno{
    margin-left: 20px;
    line-height: 0.9;
}

.Foto{
    height: 300px;
    width: 250px;

}

.ocorrencia{
    margin-left: 5%;
    /* width: 10%; */
}
